<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label"><i class="icon-2x text-dark-50 flaticon-users mx-2"></i> Lista de Pagos Pendientes</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1" >
            <thead>
              <tr>
                <th>Referencia</th>
                <th>Monto (Bs)</th>
                <th>Método</th>
                <th>Teléfono</th>
                <th>Banco</th>
                <th>Productos</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pago of pagos">
                <td>{{ pago.n_transaction }}</td>
                <td>{{ pago.total_Bs | currency:'Bs.':'symbol' }}</td>
                <td>{{ pago.method_payment }}</td>
                <td>{{ pago?.number_phone || 'N/A' }}</td>
                <td>{{ pago.name_bank }} </td>
                <td>
                  <ul>
                    <li *ngFor="let item of pago.products">
                      {{ item.product_title }} x {{ item.quantity }} <br/> ${{ item.product_price_usd}}
                      <br />
                      <small>
                        <strong>Emprendedor:</strong> {{ item.seller_company || 'N/A' }}<br />
                        <strong>Email:</strong> {{ item.seller_email || 'N/A' }}<br />
                        <strong>Teléfono:</strong> {{ item.seller_phone || 'N/A' }}
                      </small>
                    </li>
                  </ul>
                </td>
                <td>{{ pago.user.name }} {{pago.user.surname}}<br /><small><strong>Email:</strong> {{ pago.user.email }}</small></td>
                <td><small>{{ pago.createdAt | date:'short' }}</small></td>
                <td>
                <button title="Confirmar" class="btn btn-success btn-sm me-2" (click)="confirmarPago(pago._id)"><i class="icon-sm flaticon2-check-mark mx-2"></i></button>
                <button title="Rechazar" class="btn btn-danger btn-sm" (click)="rechazarPago(pago._id)"><i class="icon-sm flaticon2-cancel mx-2"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>










