<main class="main-wrapper">
  <!-- Start Breadcrumb Area  -->
  <div class="axil-breadcrumb-area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-8">
                  <div class="inner">
                      <ul class="axil-breadcrumb">
                          <li class="axil-breadcrumb-item"><a href="index.html">Home</a></li>
                          <li class="separator"></li>
                          <li class="axil-breadcrumb-item active" aria-current="page">Mi Cuenta</li>
                      </ul>
                      <h1 class="title">Explora tu actividad</h1>
                  </div>
              </div>
              <div class="col-lg-6 col-md-4">
                  <div class="inner">
                      <div class="bradcrumb-thumb">
                          <img src="./assets/images/saludo.png" width="100px" alt="Image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumb Area  -->

  <!-- Start My Account Area  -->
  <div class="axil-dashboard-area axil-section-gap">
      <div class="container">
          <div class="axil-dashboard-warp">
              <div class="axil-dashboard-author">
                  <div class="media">
                      <div class="thumbnail">
                          <img src="./assets/images/product/author1.png" alt="">
                      </div>
                      <div class="media-body">
                          <h5 class="title mb-0">Hola {{ authEcommerceService.authService.user.name }} </h5>
                          <span class="joining-date">Miembro desde Sep 2020</span>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xl-3 col-md-4">
                      <aside class="axil-dashboard-aside">
                          <nav class="axil-dashboard-nav">
                              <div class="nav nav-tabs" role="tablist">
                                  <a class="nav-item nav-link active" data-bs-toggle="tab" href="#nav-dashboard" role="tab" aria-selected="true"><i class="fas fa-th-large"></i>Dashboard</a>
                                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-orders" role="tab" aria-selected="false"><i class="fas fa-shopping-basket"></i>Ordenes</a>
                                  <!-- <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-downloads" role="tab" aria-selected="false"><i class="fas fa-file-download"></i>Downloads</a> -->
                                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-address" role="tab" aria-selected="false"><i class="fas fa-home"></i>Direcciones</a>
                                  <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-account" role="tab" aria-selected="false"><i class="fas fa-user"></i>Perfil de la Cuenta</a>
                                  <a class="nav-item nav-link" href="#" onclick="return false" (click)="logout()"><i class="fal fa-sign-out"></i>Salir</a>
                              </div>
                          </nav>
                      </aside>
                  </div>
                  <div class="col-xl-9 col-md-8">
                      <div class="tab-content">
                          <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel">
                              <div class="axil-dashboard-overview">
                                  <div class="welcome-text">Hola {{ authEcommerceService.authService.user.name }} (¿no eres <span>{{ authEcommerceService.authService.user.name }}?</span> <a href="#" onclick="return false" (click)="logout()"> Salir</a>)</div>
                                  <p>Desde el panel de tu cuenta puede ver tus pedidos recientes, administrar sus direcciones de envío y editar su contraseña y los detalles de su cuenta.</p>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-orders" role="tabpanel">
                            <div class="axil-dashboard-order">
                              <div class="table-responsive" *ngIf="!is_detail_sale">
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th scope="col">Orden</th>
                                              <th scope="col">Fecha</th>
                                              <th scope="col">Método de pago</th>
                                              <th scope="col">Total</th>
                                              <th scope="col">Acción</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <ng-container *ngFor="let order of sale_orders">
                                          <tr>
                                              <th scope="row">#{{ order.sale._id }}</th>
                                              <td>{{ getDate(order.sale.createdAt) }}</td>
                                              <td>{{ order.sale.method_payment }}</td>
                                              <td>$ {{ order.sale.total }}</td>
                                              <td><a href="#" onclick="return false" (click)="viewDetailSale(order)" class="axil-btn view-btn">Ver</a></td>
                                          </tr>
                                        </ng-container>
                                      </tbody>
                                  </table>
                              </div>

                              <ng-container *ngIf="!sale_detail_selected">
                                <div class="table-responsive" *ngIf="is_detail_sale">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Producto</th>
                                                <th scope="col"></th>
                                                <th scope="col">Categoría</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Acción</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <ng-container *ngFor="let sale_detail of order_selected.sale_details">
                                            <tr>
                                              <th scope="row">{{ sale_detail.product.title }}</th>
                                              <td><img [src]="sale_detail.product.imagen" width="100px" height="100px" alt=""></td>
                                              <td>{{ sale_detail.product.categorie.title }}</td>
                                              <td>{{ sale_detail.cantidad }}</td>
                                              <td>$ {{ sale_detail.total }}</td>
                                              <td><a href="#" onclick="return false" (click)="viewReview(sale_detail)" class="axil-btn view-btn">Reseña</a></td>
                                            </tr>
                                          </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="#" onclick="return false" *ngIf="is_detail_sale" (click)="goHome()" class="axil-btn view-btn">Regresar</a>
                              </ng-container>



                              <ng-container *ngIf="sale_detail_selected">
                                <!-- Formulario de  Reseña-->
                                <div class="comment-respond pro-des-commend-respond mt--0">
                                  <h5 class="title mb--30">Adiccionar Reseña</h5>
                                  <div class="rating-wrapper d-flex-center mb--40">
                                      Tu calificación <span class="require">*</span>
                                      <div class="reating-inner ml--20">
                                          <a href="#" onclick="return false" [ngClass]="{'star': cantidad == 1}" (click)="addCantidad(1)"><i class="fal fa-star"></i></a>
                                          <a href="#" onclick="return false" [ngClass]="{'star': cantidad ==2}" (click)="addCantidad(2)"><i class="fal fa-star"></i></a>
                                          <a href="#" onclick="return false" [ngClass]="{'star': cantidad == 3}" (click)="addCantidad(3)"><i class="fal fa-star"></i></a>
                                          <a href="#" onclick="return false" [ngClass]="{'star': cantidad == 4}" (click)="addCantidad(4)"><i class="fal fa-star"></i></a>
                                          <a href="#" onclick="return false" [ngClass]="{'star': cantidad == 5}" (click)="addCantidad(5)"><i class="fal fa-star"></i></a>
                                      </div>
                                  </div>

                                  <form action="#">
                                      <div class="row">
                                          <div class="col-12">
                                              <div class="form-group">
                                                  <label>Has tu reseña del producto</label>
                                                  <textarea name="description" [(ngModel)]="description" placeholder=""></textarea>
                                              </div>
                                          </div>
                                          <div class="col-lg-12">
                                              <div class="form-submit">
                                                  <button type="button" *ngIf="!sale_detail_selected.review" (click)="save()" class="axil-btn btn-bg-primary w-auto">Registrar Reseña</button>
                                                  <button type="button" *ngIf="sale_detail_selected.review" (click)="save()" class="axil-btn btn-bg-primary w-auto">Actualizar Reseña</button>
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                                </div>
                                <a href="#" onclick="return false" (click)="goDetail()" class="axil-btn view-btn">Regresar</a>
                                <!-- End formulario de  Reseña  -->
                              </ng-container>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="nav-downloads" role="tabpanel">
                              <div class="axil-dashboard-order">
                                  <p>You don't have any download</p>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-address" role="tabpanel">
                              <div class="axil-dashboard-address">
                                  <p class="notice-text">The following addresses will be used on the checkout page by default.</p>
                                  <div class="row row--30">
                                    <div class="col-12">
                                      <div class="axil-checkout-notice">
                                        <div class="tab-pane" id="nav-address" role="tabpanel">
                                          <div class="axil-dashboard-address">
                                              <!-- <p class="notice-text">T</p> -->
                                               <a href="#" onclick="return false;" class="axil-btn btn-outline-primary mb-5" (click)="newAddress()"><i class="far fa-plus"></i>Agregar nueva dirección</a>
                                              <div class="row row--30">
                                                <ng-container *ngFor="let list_address of listAddressClient, let i=index">
                                                  <div class="col-lg-6">
                                                      <div class="address-info mb--40">
                                                          <div class="addrss-header d-flex align-items-center justify-content-between">
                                                              <h4 class="title mb-0">Dirección: #{{ i+1 }}</h4>
                                                              <a href="#" onclick="return false;" class="address-edit"><i class="far fa-edit" (click)="addressClientSelected(list_address)"></i></a>
                                                          </div>
                                                          <ul class="address-details">
                                                              <li>Nombre y Apellido: {{ list_address.name+ ' '+list_address.surname }}</li>
                                                              <li>Email: {{ list_address.email }}</li>
                                                              <li>Teléfono móvil: {{ list_address.phone }}</li>
                                                              <li class="mt--30">{{ list_address.address }} <br>
                                                                {{ list_address.township+', '+list_address.region+', '+list_address.city}}</li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                </ng-container>
                                              </div>
                                          </div>
                                      </div>
                                      </div>
                                      <div class="axil-checkout-billing">
                                          <h4 class="title mb--40">Detalle de la dirección</h4>
                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Nombres Completos: <span>*</span></label>
                                                      <input type="text" id="first-name" [(ngModel)]="name" name="name"  placeholder="Juan">
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Apellidos Completos: <span>*</span></label>
                                                      <input type="text" id="last-name" [(ngModel)]="surname" name="surname" placeholder="Pérez">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label>País: <span>*</span></label>
                                              <select id="Region" [(ngModel)]="country" name="country">
                                                  <option value="Venezuela">Venezuela</option>
                                              </select>
                                          </div>
                                          <div class="form-group">
                                              <label>Dirección: <span>*</span></label>
                                              <input type="text" id="address1" class="mb--15" [(ngModel)]="address" name="address" placeholder="Calle, Avenida, Sector">
                                              <input type="text" id="address2" [(ngModel)]="reference" name="reference" placeholder="Apartmento, Piso, referencia, etc. (opcional)">
                                          </div>
                                          <div class="form-group">
                                              <label>Estado: <span>*</span></label>
                                              <input type="text" id="town" [(ngModel)]="region" name="region">
                                          </div>
                                          <div class="form-group">
                                              <label>Ciudad: <span>*</span></label>
                                              <input type="text" id="city" [(ngModel)]="city" name="city">
                                          </div>
                                          <div class="form-group">
                                            <label>Municipio: <span>*</span></label>
                                            <input type="text" id="township" [(ngModel)]="township" name="township">
                                        </div>
                                          <div class="form-group">
                                              <label>Teléfono móvil: <span>*</span></label>
                                              <input type="tel" id="phone" [(ngModel)]="phone" name="phone" placeholder="Telefono movil con whatsapp">
                                          </div>
                                          <div class="form-group">
                                              <label>Email: <span>*</span></label>
                                              <input type="email" id="email" [(ngModel)]="email" name="email">
                                          </div>
                                          <!-- <div class="form-group input-group">
                                              <input type="checkbox" id="checkbox1" name="account-create">
                                              <label for="checkbox1">Create an account</label>
                                          </div> -->
                                          <!-- <div class="form-group different-shippng">
                                              <div class="toggle-bar">
                                                  <a href="javascript:void(0)" class="toggle-btn">
                                                      <input type="checkbox" id="checkbox2" name="diffrent-ship">
                                                      <label for="checkbox2">Ship to a different address?</label>
                                                  </a>
                                              </div>
                                              <div class="toggle-open">
                                                  <div class="form-group">
                                                      <label>Country/ Region <span>*</span></label>
                                                      <select id="Region">
                                                          <option value="3">Australia</option>
                                                          <option value="4">England</option>
                                                          <option value="6">New Zealand</option>
                                                          <option value="5">Switzerland</option>
                                                          <option value="1">United Kindom (UK)</option>
                                                          <option value="2">United States (USA)</option>
                                                      </select>
                                                  </div>
                                                  <div class="form-group">
                                                      <label>Street Address <span>*</span></label>
                                                      <input type="text" id="address1" class="mb--15" placeholder="House number and street name">
                                                      <input type="text" id="address2" placeholder="Apartment, suite, unit, etc. (optonal)">
                                                  </div>
                                                  <div class="form-group">
                                                      <label>Town/ City <span>*</span></label>
                                                      <input type="text" id="town">
                                                  </div>
                                                  <div class="form-group">
                                                      <label>Country</label>
                                                      <input type="text" id="country">
                                                  </div>
                                                  <div class="form-group">
                                                      <label>Phone <span>*</span></label>
                                                      <input type="tel" id="phone">
                                                  </div>
                                              </div>
                                          </div> -->
                                          <div class="form-group">
                                              <label>Notas (opcional)</label>
                                              <textarea id="notes" rows="2" [(ngModel)]="note" name="note" placeholder="Notas acerca de su orden."></textarea>
                                          </div>
                                          <button type="button" *ngIf="!address_client_selected" (click)="store()" class="axil-btn btn-bg-primary checkout-btn">Registrar Dirección</button>
                                          <button type="button" *ngIf="address_client_selected" (click)="store()" class="axil-btn btn-bg-primary checkout-btn">Actualizar Dirección</button>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-account" role="tabpanel">
                              <div class="col-lg-9">
                                  <div class="axil-dashboard-account">
                                      <form class="account-details-form">
                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Nombres:</label>
                                                      <input type="text" [(ngModel)]="name_c" class="form-control" name="name_c">
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Apellidos:</label>
                                                      <input type="text" [(ngModel)]="surname_c" class="form-control" name="surname_c">
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-group mb--40">
                                                      <label>Email:</label>
                                                      <input type="email" [(ngModel)]="email_c" class="form-control" name="email_c">
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <h5 class="title">Password Change</h5>
                                                  <div class="form-group">
                                                      <label>Password</label>
                                                      <input type="password" [(ngModel)]="password" name="password" class="form-control" value="123456789101112131415">
                                                  </div>
                                                  <div class="form-group">
                                                      <label>Confirm New Password</label>
                                                      <input type="password" [(ngModel)]="password_repeat" name="password_repeat" class="form-control">
                                                  </div>
                                                  <div class="form-group mb--0">
                                                      <input type="button" (click)="updateProfileClient()" class="axil-btn" value="Actualizar">
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End My Account Area  -->

  <!-- Start Axil Newsletter Area  -->
  <div class="axil-newsletter-area axil-section-gap pt--0">
      <!-- <div class="container">
          <div class="etrade-newsletter-wrapper bg_image bg_image--5">
              <div class="newsletter-content">
                  <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
                  <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                  <div class="input-group newsletter-form">
                      <div class="position-relative newsletter-inner mb--15">
                          <input placeholder="example@gmail.com" type="text">
                      </div>
                      <button type="submit" class="axil-btn mb--15">Subscribe</button>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- End .container -->
  </div>
  <!-- End Axil Newsletter Area  -->
</main>
