<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label"><i class="icon-2x text-dark-50 flaticon-open-box mx-2"></i> Catálogo de Cursos Disponibles</h3>
    </div>
    <!-- <div class="card-toolbar">
      <a
        type="button"
        class="btn btn-primary"
        (click)="openCreate()"
        ><i class="icon-2x text-white flaticon-open-box" ></i> Nueva Categorías</a
      >
    </div> -->
  </div>
  <div class="card-body">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive text-center">
        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
          <tbody>
            <tr>
              <td>
                <img
                  src="../../../../assets/media/images/pronto-academia-adel.png"
                  alt="Pronto la academia Adel"
                  width="85%"
                  style="display: block; margin: 0 auto;"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




